{% extends "layout.html" %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand" href="/">UT Stats</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/maps">Maps</a></li>
                <li><a href="/games">Games</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
				{% block navcontrols %}{% endblock %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block footer %}
<h2 style="text-align: center"><small>BETA</small></h2>
{% endblock %}